<!DOCTYPE html>
<html lang="en">

  <!-- Bootstrap, stylesheets, WP title and favicon load. -->
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"></script>
    <title>Viajes La Ciénaga - Destinos - <%= datos.nombre %></title>
    <link rel="icon" href="/Images/favicon-shrek.jpg">
  </head>

  <body>

    <!-- Use of ejs to avoid copy-pasting the whole header -->
    <header>
      <%- include ('pieces/header')%>
    </header>

    <main id="main">

      <div class="container-fluid">

        <!-- Destiny name (title of the main content in the WP) gotm by params in the render(template) call. -->

        <p class="concrete-dest-title"><%= datos.nombre.toUpperCase() %></p>

        <div class="row mb-5">

          <!-- Image got by the render call, codified from BLOB (DB storage format) to base-64 (human-visible) -->

          <img class="concrete-dest-image ml-5 col-md-5 col-sm-12 col-12"
            src="data:image/png;base64,<%=datos.imagen.toString('base64')%>"
            alt= <%=datos.descripcion %>
          >

          <!-- Destiny content (a description of the offer, for instance). -->
          <p class="concrete-dest-text col-md-5 offset-1 col-sm-10 col-10">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem
            voluptate magni dolores nulla. Reiciendis, ex tempora explicabo,
            culpa
            quae cumque veritatis quo est nulla assumenda vitae? Saepe molestias
            perferendis dolores.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem
            voluptate magni dolores nulla. Reiciendis, ex tempora explicabo,
            culpa
            quae cumque veritatis quo est nulla assumenda vitae? Saepe molestias
            perferendis dolores.

          </p>

          <!-- Book flight button, that will toggle a modal where the form will be displayed. -->
        </div>

        <div class="row">
          <div
            class="concrete-dest-res-container offset-md-4 col-md-4 offset-sm-3 col-sm-6 offset-2 col-8">
            <a data-bs-toggle="modal" data-bs-target="#concrete-dest-res-form"
              href class="concrete-dest-res-button">
              <div id="concrete-dest-res-text">RESERVAR VUELO</div>
            </a>
          </div>

          <!-- Modal with the information of the flight booked. -->
          <div class="modal modal-lg fade in" id="concrete-dest-res-form"
            data-bs-backdrop="static">

            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content" id="concrete-dest-res-modal-container">
                <div class="modal-header">

                  <!-- Price got by params and button to dismiss the modal as the header of it. -->
                  <h5 class="modal-title">¡POR TAN SOLO <%= datos.precio %>€!</h5>
                  <button type="button" class="btn-close"
                    data-bs-dismiss="modal"></button>

                </div>

                <div class="modal-body">
                  <div class="container-fluid">

                    <!--  -->
                    <form method="POST" action="/procesar_formulario">

                      <div class="form-group row">
                        <label for="client-full-name"
                          class="offset-1 col-4 col-form-label concrete-dest-res-form-field">
                          Nombre y Apellidos: </label>
                          <input type="text"
                            name="site-name" id="site-name" style="display:none;" value="<%= datos.nombre %>">
                        <div class="col-6">

                          <input type="text"
                            class="form-control form-control-sm concrete-dest-res-form-input"
                            name="client-full-name" id="client-full-name"
                            <% if (typeof errores != "undefined" && errores["client-full-name"]) { %>
                            value="<%= oldValues.client-full-name.value %>"
                            <% } %>
                            >
                            <% if (locals.errores && errores["client-full-name"]) { %>
                              <span class="text-danger"><%= errores.client-full-name.msg %></span>
                              <% } %>

                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="client-email"
                          class="offset-1 col-4 col-form-label concrete-dest-res-form-field">
                          Correo electrónico: </label>   
                        <div class="col-6">
                          <input type="email"
                            class="form-control form-control-sm concrete-dest-res-form-input"
                            name="client-email" id="client-email">

                            <% if (locals.errores && errores["client-email"]) { %>
                              <span class="text-danger"><%= errores.client-email.msg %></span>
                              <% } %>

                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="client-res-from-date"
                          class="offset-1 col-4 col-form-label concrete-dest-res-form-field">
                          Fecha de ida: </label>
                        <div class="col-5">

                          <input type="date"
                            class="form-control form-control-sm concrete-dest-res-form-input"
                            name="client-res-from-date"
                            id="client-res-from-date">

                              <% if (locals.errores && errores["client-res-from-date"]) { %>
                              <span class="text-danger"><%= errores.client-res-from-date.msg %></span>
                              <% } %>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="client-res-to-date"
                          class="offset-1 col-4 col-form-label concrete-dest-res-form-field">
                          Fecha de vuelta: </label>
                        <div class="col-5">
                          <input type="date"
                            class="form-control form-control-sm concrete-dest-res-form-input"
                            name="client-res-to-date" id="client-res-to-date">
                       
                            <% if (locals.errores && errores["client-res-to-date"]) { %>
                              <span class="text-danger"><%= errores.client-res-to-date.msg %></span>
                              <% } %>

                        </div>
                      </div>
                    
                  </div>
                </div>
                <div class="modal-footer">
                  <input type="submit" value="ENVIAR"
                    class="concrete-dest-res-form-but"></input>
                  <button type="button"
                    data-bs-dismiss="modal" class="concrete-dest-res-form-but">CERRAR</button>
                </form>
              </div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </main>

   

    <footer>
      <%- include ('pieces/footer')%>
    </footer>
    <script src="/scripts/formValidation.js"></script>
  </body>


  
    <% if (showModal) { %>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var modal = new bootstrap.Modal(document.getElementById('concrete-dest-res-form'));
            modal.show();
        });
      </script>  
    <% } %>

</script>
</html>